In [1]:
#Import libraries
import pandas as pd
import numpy as np
import glob, os

### Block data

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('../input/hhblock_dataset/', "block_*.csv"))))

df.head()

,LCLid,day,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,...,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
0,MAC000041,2011-12-09,0.070,0.062,0.063,0.062,0.062,0.062,0.062,0.061,...,0.313,0.424,0.361,0.324,0.389,0.331,0.309,0.292,0.297,0.283
1,MAC000041,2011-12-10,0.178,0.082,0.063,0.063,0.062,0.063,0.062,0.062,...,0.440,0.317,0.383,0.347,0.403,0.216,0.212,0.223,0.186,0.189
2,MAC000041,2011-12-11,0.169,0.093,0.065,0.065,0.064,0.068,0.064,0.064,...,0.381,0.291,0.330,0.330,0.256,0.254,0.361,0.321,0.320,0.127
3,MAC000041,2011-12-12,0.063,0.062,0.063,0.063,0.063,0.063,0.062,0.062,...,0.256,0.281,0.277,0.199,0.311,0.284,0.330,0.189,0.304,0.282
4,MAC000041,2011-12-13,0.282,0.274,0.104,0.061,0.061,0.061,0.061,0.061,...,0.203,0.327,0.326,0.408,0.264,0.200,0.662,0.335,0.245,0.248

### Daily data

In [3]:
files = ['block_0.csv']
daily_0 = pd.concat([pd.read_csv("../input/daily_dataset/" + f, dtype=str) for f in files])
house_info = pd.read_csv('../input/informations_households.csv')

### Half hourly data

In [4]:
#Import block & house info data, rename columns
files = ['block_0.csv']
block_0 = pd.concat([pd.read_csv("../input/halfhourly_dataset/" + f, dtype=str) for f in files])
block_0.columns = ['LCLid','DateTime','KWh']

First block (Block_0): 39786 30min recordings of energy consumption in KWh across 390 homes

In [5]:
block_0.head()

       LCLid                     DateTime  KWh
0  MAC000002  2012-10-12 00:30:00.0000000   0
1  MAC000002  2012-10-12 01:00:00.0000000   0
2  MAC000002  2012-10-12 01:30:00.0000000   0
3  MAC000002  2012-10-12 02:00:00.0000000   0
4  MAC000002  2012-10-12 02:30:00.0000000   0

### Housing information

In [6]:
house_info = pd.read_csv('../input/informations_households.csv')
house_info.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

### Acorn details

In [7]:
acorn_details = pd.read_csv('../input/acorn_details.csv')
acorn_details.head()

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,97.0,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,106.0,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,89.0,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,88.0,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,103.0,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0

### UK bank holidays

In [8]:
bank_holidays = pd.read_csv('../input/uk_bank_holidays.csv')
bank_holidays.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

### Weather data

In [9]:
weather_daily = pd.read_csv('../input/weather_daily_darksky.csv')
weather_daily.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

In [10]:
weather_hourly = pd.read_csv('../input/weather_hourly_darksky.csv')
weather_hourly.head()

,visibility,windBearing,temperature,time,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
0,5.97,104,10.24,2011-11-11 00:00:00,8.86,1016.76,10.24,2.77,rain,partly-cloudy-night,0.91,Partly Cloudy
1,4.88,99,9.76,2011-11-11 01:00:00,8.83,1016.63,8.24,2.95,rain,partly-cloudy-night,0.94,Partly Cloudy
2,3.70,98,9.46,2011-11-11 02:00:00,8.79,1016.36,7.76,3.17,rain,partly-cloudy-night,0.96,Partly Cloudy
3,3.12,99,9.23,2011-11-11 03:00:00,8.63,1016.28,7.44,3.25,rain,fog,0.96,Foggy
4,1.85,111,9.26,2011-11-11 04:00:00,9.21,1015.98,7.24,3.70,rain,fog,1.00,Foggy

# 1. Data Clean&Merge
## 1.1 KWh Nulls
There are 'Null' values in the KWh column, there are 390 of them in Block_0 and as such appears assigned one null value per household. The time of the null value is in-between each 30min recording and is constant over groupings of houses. Suspect this was the smart meters resetting. Do not know if this invalidates a recording before or after. Quick check below shows that it appears not to have impacted recordings, however we should keep this in mind. Soln to the Null recordings is to delete all records with a Null in the KWh column (390 records in total)

In [11]:
block_0 = block_0[block_0.KWh != 'Null']
block_0['KWh'] = block_0['KWh'].astype(float)

## 1.2 DateTime reformat
Reformatting the DateTime column to make it easier to manage

In [12]:
DateTime = block_0.iloc[:, 1].values
Year = np.zeros(len(DateTime), dtype=int)
Month = np.zeros(len(DateTime), dtype=int)
Day = np.zeros(len(DateTime), dtype=int)
Hour = np.zeros(len(DateTime), dtype=float)
for i in range(0,len(DateTime)):
    Year[i] = (DateTime[i][0:4])
    Month[i] = (DateTime[i][5:7])
    Day[i] = (DateTime[i][8:10])
    if DateTime[i][14:16]=='00':
        Hour[i] = DateTime[i][11:13]
    else: 
        Hour[i] = DateTime[i][11:13]
        Hour[i] += 0.5
        
block_0.loc[:,'Day']=Day
block_0.loc[:,'Month']=Month
block_0.loc[:,'Year']=Year
block_0.loc[:,'Hour']=Hour
block_0 = block_0.drop('DateTime',1)

## 1.3 Check for Acorn labelling errors 
There is one error type: 'ACORN-' instead of 'ACORN-*' which occur for two houses, therefore delete these from analysis

In [13]:
#LCLids where a miss catagorisation has occured i.e. when Acorn == ACORN- in this insatnce
LCLids_del = house_info.loc[house_info.Acorn == 'ACORN-'].LCLid.values
LCLids_del

array(['MAC005492', 'MAC001074'], dtype=object)

In [14]:
#Delete these houses from the current block being analysed
for i in range (0,len(LCLids_del)): 
    if any(block_0.LCLid == LCLids_del[i]):
        block_0 = block_0.loc [block_0.LCLid != LCLids_del[i]]
        print(i)

0
1

## 1.4 Merging data
Many to one merge, remove 'ACORN-' string in acorn classification

In [15]:
block_0_info = pd.merge(block_0,house_info)
block_0_info = block_0_info.drop('Acorn_grouped',1)
block_0_info = block_0_info.drop('file',1)
block_0_info.Acorn = block_0_info.Acorn.str.replace('ACORN-',"")

## 1.4 What data do we have? 
Apears that only 2012 and 2013 are complete years

In [16]:
test_1 = block_0_info.groupby(['Acorn','Year','Month']).mean().drop(['Day','Hour'],1).reset_index()
Years = test_1.Year.unique()
Months = test_1.Month.unique()
for yr in Years: print(yr,':\n',(test_1.loc[test_1.Year == yr]).count())

2011 :
 Acorn    1
Year     1
Month    1
KWh      1
dtype: int64
2012 :
 Acorn    12
Year     12
Month    12
KWh      12
dtype: int64
2013 :
 Acorn    12
Year     12
Month    12
KWh      12
dtype: int64
2014 :
 Acorn    2
Year     2
Month    2
KWh      2
dtype: int64

In [17]:
#keep 2012 and 2013, reset index with drop=False
block_0_info_2012_2013 = block_0_info.loc[(block_0_info.Year == 2012) | (block_0_info.Year == 2013)].reset_index(drop=False)

## 1.4 Include a weekend flag and acorn description for analysis purposes
**THINK I COULD HAVE DONE THIS EASIER BY JUST USING ORIGINAL DATETIME COLUMN IN TABLEAU**

In [18]:
import datetime


DayOfWeek = []
DayOfYear = []
for i in range(0,len(block_0_info_2012_2013)):
    DayOfWeek.append(datetime.datetime(block_0_info_2012_2013.Year[i], 
                                       block_0_info_2012_2013.Month[i], 
                                       block_0_info_2012_2013.Day[i]).weekday())
    DayOfYear.append(datetime.date(block_0_info_2012_2013.Year[i], 
                                       block_0_info_2012_2013.Month[i], 
                                       block_0_info_2012_2013.Day[i]).timetuple()[7])
#put in new column
block_0_info_2012_2013['DayOfWeek'] = DayOfWeek
block_0_info_2012_2013['DayOfYear'] = DayOfYear

#create weekend flag, days 5 and 6 are Sat and Sun
block_0_info_2012_2013['Weekend'] = ""
tmp = block_0_info_2012_2013[(block_0_info_2012_2013.DayOfWeek == 5) | (block_0_info_2012_2013.DayOfWeek == 6)].index
block_0_info_2012_2013['Weekend'][tmp] = 1
tmp = block_0_info_2012_2013[block_0_info_2012_2013.Weekend != 1] .index
block_0_info_2012_2013['Weekend'][tmp] = 0

/home/walle/.virtualenvs/pytorch_ts_py36/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/walle/.virtualenvs/pytorch_ts_py36/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
block_0_info_2012_2013['AcornDescription'] = ""
AcornName = pd.DataFrame({'Acorn':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','U'],
                           'AcornName':['Lavish Lifestyles','Executive Wealth','Mature Money',
                                        'City Sophisticates','Career Climbers','Countryside Communities',
                                        'Successful Suburbs','Steady Neighbourhoods','Comfortable Seniors',
                                        'Starting Out','Student Life','Modest Means','Striving Families',
                                        'Poorer Pensioners','Young Hardship','Struggling Estates',
                                        ' Difficult Circumstances','Unknown']})
AcornDesc = pd.read_csv('../input/acorn_details.csv')
AcornDesc = pd.merge(AcornName,AcornDesc)
block_0_info_2012_2013_wkend_desc = pd.merge(block_0_info_2012_2013,AcornDesc)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

## 1.5 Extract to txt file for analysis in Tableau

In [ ]:
#block_0_info_2012_2013_wkend_desc.to_csv('../results/SmMe block_0_2012_2013_weekend_desc.txt')

# 2. Analysis in Tableau
Below are two Dashboards created based on the above data in Tableau
As there are many ways in which the data can be viewed, for example by Acorn class, household,  day, weekend, month etc. a Tableau dashboard is convenient to do some exploration of the data.
I have provided the HTML and link to the dashboards (please open fullscreen), some conclusions based on what I have seen from the dashboards has been given below.

## 2.1 Overview Dashboard
Displayed in the horizontal plot on the left is the average energy consumed broken down by acorn classification & the week or weekend flag. Displayed in the horizontal plot on the right is the average energy consumed per hour for each acorn classification (the size of the circles are proportional to the energy consumption). All filters on the right apply to all the figures.

<img src="images/dashboards_clustering_1.png">

link: https://public.tableau.com/views/SmartMeters_1/Overview?:embed=y&:display_count=yes&publish=yes

## 2.2 Uncertainty in the mean energy consumption within each Acorn class
Displayed in this dashboard are the mean and standard deviation of the energy consumption over time for a particular month, year and weekend flag. The left figure shows the breakdown by acorn classification. The figure on the right shows the breakdown by household. The filters in the middle of the pane apply to the left figure and the filters on the right of the pane apply to the right figure.

<img src="images/dashboards_clustering_2.png">

link:
https://public.tableau.com/views/SmartMeters_1_2/Uncertainty?:embed=y&:display_count=yes&publish=yes

## 2.3 Hourly ave. energy consumption as a function of day of year
Displayed in this dashboard is a nice view of mean of the energy consumption for a particular time of day and for a particular day. Filters are available for Acorn classifcation and House ID. The image displays nicely changes in patterns due to variations in seasons and time of day.

In [ ]:
<img src="images/dashboards_clustering_3.png">

Link:
https://public.tableau.com/views/SmartMeters_1_3/TimeOfDayandDayOfYear?:embed=y&:display_count=yes&publish=yes

## 2.4 Some conclusions:
Some of the things I saw when building and playing around with this data
* The mean energy consumption does not align perfectly with the acorn classification order (A -> Q) i.e. it does not align with the premise that A consumes more than B, B consumes more than C etc. The premise is true from A to F, however after F (countryside communities), energy consumption no longer correlates with acorn class. O (Young Hardship) consumes the least and M (Striving Families) consume an amount similar to D (City Sophisticates).

* During the week almost all acorn households show clear morning and evening peaks in energy consumption, reflecting the expected classical electricity demand curve. For M (Striving Families) the difference between average and peak demand is exaggerated especially in the morning. 

* Night time use of energy is very low except for some households (MAC000003 for example) in acorn class P (Struggling Estates) during winter months. Although according to the data these households still have standard use tariffs one would assume they must be using electrical storage heaters. If standard they are using standard tariffs and storage heaters this would have been very expensive.

* The variance of energy use is very large even within a particular acorn class, month and weekend flag. This indicates the large amount of individual behavior occurring within acorn classifications even on comparable days

## 2.5 Some interesting questions:
* For a given month can we cluster the electricity demand patterns of these households into distinct groupings and do those groupings align with acorn classifications?
* ... is there a difference in energy consumption behaviour between different tariff types within a certain acorn classification and month?

## 2.6 Plan
* Run unsupervised learning algorithms on data... 
    * For this make use of the preprepared daily_dataset.zip folder created by Jean-Michel D. on Kaggle.
    * This data contains summary stats of each day for each household. Summary stats inc. mean, std.dev, max, min, sum...

# 3. Daily Dataset
## 3.1 Importing data, cleaning and exporting

In [ ]:
#import data, files from 0 to 111 blocks
MAX_FILES = 112
files = [('block_'+str(i)+'.csv') for i in range (0,MAX_FILES)]

block_Daily = pd.concat([pd.read_csv("../input/smart-meters-in-london/daily_dataset/daily_dataset/" + f, dtype={'LCLid': np.str, 'day': np.str, 
                                                                          'energy_median': np.float64,
                                                                          'energy_mean': np.float64, 'energy_max': np.float64,
                                                                          'energy_cou10nt': np.float64, 'energy_std': np.float64,
                                                                          'energy_sum': np.float64,'energy_min': np.float64}) \
                         for f in files])

house_info = pd.read_csv('../input/archived-smartmeter-data/informations_households.csv')

In [ ]:
print('Percentage of days when no. of energy readings was less than 47 is: ',
      round(100*len(block_Daily[block_Daily.energy_count < 47])/len(block_Daily),2)
     ,'%')

Remove these days to avoid invalid summary statistics where maximums and minimums etc. have been missed by the recording equipment. From now on we can be confident that the summary stats per day apply for recordings where 47 out of 48 potetnial recordings each day have been captured

In [ ]:
LCLids_del = house_info.loc[house_info.Acorn == 'ACORN-'].LCLid.values
LCLids_del

In [ ]:
#Delete these houses from the current block being analysed
for i in range (0,len(LCLids_del)): 
    if any(block_Daily.LCLid == LCLids_del[i]):
        block_Daily = block_Daily.loc [block_Daily.LCLid != LCLids_del[i]]
        print(i)

In [ ]:
block_Daily.drop(block_Daily.index[block_Daily.energy_count < 47], axis=0)

block_Daily_info = pd.merge(block_Daily,house_info)
block_Daily_info = block_Daily_info.drop(['Acorn_grouped','file'],1)
block_Daily_info.Acorn = block_Daily_info.Acorn.str.replace('ACORN-',"")
block_Daily_info.Acorn.unique()

In [ ]:
block_Daily_info.head()

Extract this data for cluster analysis in Tableau ...

In [ ]:
#block_Daily_info.to_csv('../results/SmMe block_Daily_info.txt')

## 3.2 Standard (Std) and Time of Use (ToU) tariff behaviour
Dashboard below shows the average energy consumption on a daily basis aggregated over acorn classifications and months. As observed in most months and acorn catagories ToU tariff users consume less energy. Acorn catagories which are not consumming less energy appear to be F, O, N and Q

<img src="images/dashboards_clustering_4.png">

link: 
https://public.tableau.com/views/SmartMeters_2/StdorToU?:embed=y&:display_count=yes

## 3.3 Cluster analysis based on daily summary stats
k-means++, with Calinski-Harabasz criterion to assess the number of clusters, was performed on the daily data for each house. Data included: Ave.Energy_sum, Ave.Energy_mean, Ave.Energy_max, Ave.Energy_min and Ave.Energy_median. The analysis returned 3 clusters which are not very well correlated with acorn calssification, highlighting the large amount of variability in the data across households. The 'shape' of the energy consumption curve may provide an additional insight for the cluster analysis and show return more clusters.

<img src="images/dashboards_clustering_5.png">

link:
https://public.tableau.com/views/SmartMeters_2_2/ClusteringDayData?:embed=y&:display_count=yes&publish=yes

*I would like to do more analysis on this dataset. I struggled with regard to running speed and memory when trying to download and analyse the 30min energy consumption data across all households. There may be a way around the memory issue. I think if we could get a sumarised view of the hourly usage behaviour for every house then then some additional insights would be avaiable re. the shape of the energy consumption curve and how that may characterise various behaviours across acron classifications.*